<link rel="stylesheet" href="homepage.component.css">

<body>
 <div class="container"> 
    <div class="card-wrapper">
        <mat-card class="card" >
            <mat-card-header class="card-title">
                <mat-card-title class="card-title" >
                   SEARCH CANDIDATES
                </mat-card-title>
                <hr/>
            </mat-card-header>
            <mat-card-content class="content-card">
               Hello from Homepage
            </mat-card-content>
        </mat-card>
    </div>
 </div> 
</body>

