<body>
<section class="vh-150" style="background-color: transparent;">
   
      <h3 class="header-message"> Applicants
      </h3>
  <div class="card-group">
                    <div *ngFor="let r of result">
                        <div class="card" *ngIf="result[0].name != ''">
                            <div >
                            <div class="card-body">
                              <h5 class="card-title">{{r.name}}</h5>
                              <h6 class="card-subtitle mb-2 text-muted">{{r.education}}</h6>
                              <h6 class="card-subtitle mb-2 text-muted">{{r.address}}</h6>
                            </div>
                            <div class="d-flex flex-row align-items-center mb-4" *ngIf="!r.isHired">
                            <select class="custom-select" id="inputGroupSelect01" (change)="selectCompany($event)">
                                <option selected value="1">Sinehron</option>
                                <option value="2">Nordeus</option>
                                <option value="3">Microsoft</option>
                                <option value="4">Amazon</option>
                            </select>

                            <button class="btn btn-primary hire-button" (click)="hire(r.id)">Hire</button>
                       
                        </div>
                        <div *ngIf="r.isHired" class="hired-message"> <h4> This person is already hired</h4> </div>
                        </div>
                        </div>

                        
                    </div>
  
            
          </div>
  
  </section>
</body>